<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Search Tweets</title>
</head>
    <body>
        <div class="container">
            <ul class="list-group"  id="tweetsid">
                {% set css_class = 'list-group-item-info' %}
                {% for el in content %}
                    {% if el['label'] == 'neg' %}
                        {% set css_class = 'list-group-item-danger' %}
                    {% elif el['label'] == 'pos' %}
                        {% set css_class = 'list-group-item-success' %}
                    {% endif %}
                    <li class="list-group-item {{ css_class }}">{{el['tweet']}}</li>
                {% endfor %}
            </ul>
        </div>
    </body>
</html>